# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Logs
*.log
build_log*.txt
build_errors.log
compile_log.txt


# Build output text files
build/**/*.txt
build_output*.txt
build_errors*.txt
errors*.txt
fresh_errors.txt
initialize_client_list.txt
water_fix_list.txt

.env
.vscode/
compile_errors.txt
node_modules/
package-lock.json
package.json

